<html>
<head>
<title>온습도 서비스</title>
<style type="text/css">
.auto-style1 {
	border: 1px solid #808080;
}
.auto-style2 {
	border: 1px solid #008080;
}
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>
<center>
<br>
<strong>온습도 서비스</strong>
<br>
<br>
<br>

<form method="post" action="lm35_chart_act">
	검색 구간(YYYY-MM-DD HH:MM:SS 형식) : <input name="start" type="text"> ~ <input name="end" type="text">
	<input name="Button1" type="submit" value="검색">
</form>
<table style="width: 70%">
<tr>
  <td width="50%">
 <table cellspacing="1" class="auto-style1" style="width: 100%">
{% for i in result %} 
  <tr>
	  <td class="auto-style2" style="width: 15%">시간: {{ i[0] }}</td>
	  <td class="auto-style2" style="width: 10%">습도: {{ i[1] }}</td>
	  <td class="auto-style2" style="width: 10%">온도: {{ i[2] }}</td>
  </tr>
{% endfor %}	
</table> 
  </td>
  
  <td width="70%">
    
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="Chart" width="200px" height="200px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
  
  </td>
</tr>
</table>
<br>

</center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("Chart").getContext("2d");
    var data = { 
        type: 'bar',
        data: {
            labels: [{% for i in result %}"{{ i[0] }}",{% endfor %}],					
            datasets: [{
                label: "온도 변화",
                backgroundColor: 'rgb(255, 120, 132)',
                fill:true,
                borderColor: 'rgb(255, 128, 132)',
                lineTension:0.5,
                data: [{% for i in result%}"{{ i[2] }}",{% endfor %}]
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }], 
                yAxes: [{
                    ticks: {
                        suggestedMin: 0, // Y축의 최고 값
                        suggestedMax: 50 // Y축의 최대 값
                        }
                    }]
                }
            }
	    }
	
	var chart = new Chart(ctx, data);
</script>

</body>
</html>


