<!DOCTYPE html>
<html>
    <head>
        <title>추노</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/d_footer.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/d_header.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/d_menubar.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    </head>
    <body>
        <div class="header">
            
            <ul class="menubar">
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('liveStreaming')}}">Live Streaming</a></li>
                <!--<li><a href="{{url_for('anomalyDetection')}}">Anomaly Detection</a></li>-->
            </ul>
            
            
            <div class="title">
                <h1>추노</h1>
            </div>
            <div class="loginbar">

            </div>
            
        </div>
        <main>
            <div class="mainMenuImgWrap">
                <div class="textArea">
                    <h1>Team' 추노</h1>
                    <p>사람을 인식하여 비정상적 체온 감지 프로젝트</p>
                </div>
                <div class="members">
                    <figure>
                        <img src="{{url_for('static', filename='img/MemberIMG/SeoTaeWoong/seotaewoong.png')}}">
                        <ul class="introduce">
                            <li>서태웅</li>
                            <li>FW/SW</li>
                        </ul>
                    </figure>
                    <figure>
                        <img src="{{url_for('static', filename='img/MemberIMG/JangYungDae/jangyungdae.png')}}">
                        <ul class="introduce">
                            <li>장영대</li>
                            <li>HARDWARE</li>
                        </ul>
                    </figure>
                    <figure>
                        <img src="{{url_for('static', filename='img/MemberIMG/KimSungTan/kimsungtan.png')}}">
                        <ul class="introduce">
                            <li>김성탄</li>
                            <li>HARDWARE</li>
                        </ul>
                    </figure>
                    <figure>
                        <img src="{{url_for('static', filename='img/MemberIMG/GangDooHyuk/gangdoohyuk.png')}}">
                        <ul class="introduce">
                            <li>강두혁</li>
                            <li>SOFTWARE</li>
                        </ul>
                    </figure>
                </div>
            </div>
            <div class="demoVideo">
                <h1>시연 영상</h1>
                <video class="mainVideo" src="abc.mp3" controls>
    
                </video>
                <ul class="videoList">
                    <li class="item">
                        시연영상1
                    </li>
                    <li class="item">
                        시연영상2
                    </li>
                </ul>
            </div>
            <div class="robotWrap">
                
            </div>
            
            
        </main>
        <div class="footer">
            <span>Team.추노</span><span>관리자: na386475@gmail.com</span>
        </div>
    </body>
</html>